@import "./reset.css";

@stylex;

html {
  min-height: 100%;
  margin: 0;
  background: var(--color-surface-sidebar, #eeeeec);
}

body {
  min-height: 100%;
  margin: 0;
  background: var(--color-surface-sidebar, #eeeeec);
  font-family: "IBM Plex Sans", var(--font-sans);
}
